@model test_curd_operation_30_05_2024.Data.Emptesttable

<form asp-action="empedit" class="form-control">
    <input type="hidden" asp-for="empid" />
    <input type="text" asp-for="empname" placeholder="Empname" />
    <button type="submit">Submit</button>
</form>