<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - pofo_corporate</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/pofo_corporate.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/imports.css" />
    @await RenderSectionAsync("Headers", required: false)
</head>
<body>

    <header class="header">
        <nav class="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-2">
                        <div class="logo">
                            <img src="~/assest/header/logo-trans.webp" alt="logo" />
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="nav-link-main">
                            <ul class="nav-link-ul">
                                <li class="menu-iteam"><a class="navmain-link" href="#">Home</a></li>
                                <li class="menu-iteam"><a href="#">Pages</a></li>
                                <li class="menu-iteam"><a href="#">Portfolio</a></li>
                                <li class="menu-iteam"><a href="#">Blog</a></li>
                                <li class="menu-iteam"><a href="#">Elements</a></li>
                                <li class="menu-iteam"><a href="#">Features</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="right-menu">
                            <ul class="right-icon">
                                <li><a href="#"><span class="fa-solid fa-magnifying-glass"></span></a></li>
                                <li><a href="#"><span class="fa-brands fa-facebook"></span></a></li>
                                <li><a href="#"><span class="fa-brands fa-x-twitter"></span></a></li>
                                <li><a href="#"><span class="fa-brands fa-xbox"></span></a></li>
                                <li><a href="#"><span class="fa-solid fa-cart-shopping"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
