@model student_project_mvc_demo_model.Models.StudentModel

<form asp-action="studentedit" class="form-control">

    <input type="hidden" asp-for="id" placeholder="id" />
    <input type="text" asp-for="fname" placeholder="Fname" />
    <input type="text" asp-for="lname" placeholder="Lname" />
    <input type="text" asp-for="surname" placeholder="Surname" />
    <input type="text" asp-for="address" placeholder="Address" />
    <input type="text" asp-for="contactno" placeholder="Contactno" />
    <input type="text" asp-for="email" placeholder="Email" />
    <input type="text" asp-for="password" placeholder="Password" />
    <input type="text" asp-for="confirmpassword" placeholder="Confirm Password" />
    <input type="text" asp-for="joiningdatae" placeholder="Joining Date" />
    <button type="submit">Submit</button>


</form>