@model database_connectivity_lacture_3.Models.EmployeeModel

<form asp-action="empadd" class="form-control">

    <input type="text" asp-for="Name"  placeholder="Name"/>
    
    <button  type="submit">Submit</button>
    

</form>


