@model database_connectivity_lacture_3.Data.EmployeeMst

<form asp-action="empedit" class="form-control">


    <input type="hidden" asp-for="id" />
    <input type="text" asp-for="name" placeholder="Name" />

    <button type="submit">Submit</button>


</form>
