@model databaseconnectivity_lacture_3.Data.StudentMst;

<form asp-action="studentedit" class="form-control">
    <input type="hidden" asp-for="id" placeholder="ID" />
    <input type="text" asp-for="fname" placeholder="First Name" />
    <input type="text" asp-for="lname" placeholder="Last Name" />
    <input type="text" asp-for="surname" placeholder="Surname" />
    <input type="text" asp-for="address" placeholder="Address" />
    <input type="text" asp-for="email" placeholder="Email" />
    <input type="text" asp-for="password" placeholder="Password" />
    <input type="text" asp-for="joiningdate" placeholder="JoiningDate" />

    <button type="submit">Submit</button>
</form>